$theme-color-1: #c90019;
$theme-color-2: #232b38;

$theme-color-1-f: #8f0012;
$theme-color-2-f: #2b3947;

button {
     outline: none;
     border: none;
     background: none;
     transition: background ease 0.2s;
     cursor: pointer;
     border-radius: 2px;
     font-weight: 500;

     &.primary {
          background: $theme-color-1;
     }

     &.secondary {
          background: $theme-color-2;
     }

     &.lg {
          font-size: 24px;
          padding: 25px 70px;
     }

     &.lg:hover {
          background: $theme-color-1-f;
     }
}
