#pilot-section {
     main {
          width: calc(100vw - 128px);
          overflow-x: scroll;

          // CONTINUE
          section {
               width: 100%;
               height: calc(100vh -);
          }
     }
}
